<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--1 导入这个名称空间的作用:会有语法提示-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    thymeleaf访问成功了...
    <!--th:text 将div中的文本内容设置为指定的值-->
    <!-- th语法:任意html属性;来替代原生属性的值-->
    <div id="div0" class="mydiv" th:id="${hello}" th:class="${hello}" th:text="${hello}">
        这是显示欢迎的信息
    </div>

<hr/>
<div th:text="${hello}"></div>
<div th:utext="${hello}"></div>
<hr/>

    <!--th:each每次遍历都会生成当前这个标签  3个h4标签-->
<h4 th:text="${user}" th:each="user:${users}"></h4>
<hr/>

<h4>

    <span th:each="user:${users}">[[${user}]]</span>
</h4>
</body>
</html>